.pane {
  background-image: url("/assets/noise.png");
  background-repeat: repeat;
  backdrop-filter: blur(7.5px);
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 2px solid #404040;
  border-right: 2px solid #404040;
  border-radius: 5px;
}

.round {
  border-radius: 9999px;
}

.plaintext {
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
}

h1 {
  font-variant: small-caps;
  margin-bottom: 0.5em;
}

header {
  position: sticky;
  top: -3.75em;
}

nav a {
  font-family: monospace;
  font-size: 0.875em;
  background-color: rgba(12, 24, 96, 0.75);
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 0.25em 0.75em;
  transition: background-color 0.25s;
}

nav a:hover {
  background-color: rgba(96, 12, 12, 0.75);
}
